.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #593884;
}
