@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
}

body {
  min-height: 100vh;
  background-color: beige;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  margin: 100px auto;
  border: 1px solid gray;
  border-radius: 10px;
  color: rgb(73, 73, 73);
}

p {
  width: 100%;
  max-width: 420px;
  padding: 1rem;
  padding-bottom: 5px;
  font-size: 18px;
  color: rgb(73, 73, 73);
}

span {
  margin-right: 30px;
}

a,
a:visited {
  width: 100%;
  max-width: 420px;
  padding-left: 1rem;
  font-size: 18px;
  color: rgb(73, 73, 73);
}

input[type="text"],
input[type="password"],
button {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem;
}
