@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: "Nunito", "Inter", "Avenir", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #363636;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  margin: 100px auto;
  border: 1px solid gray;
  border-radius: 10px;
  color: rgb(73, 73, 73);
}

span {
  margin-right: 30px;
}

input[type="text"],
input[type="password"],
button {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

button {
  margin-top: 20px;
  color: white;
  background-color: #5a6175;
  cursor: pointer;
}

input:focus button {
  padding: 0.5rem;
}

a {
  text-decoration: none;
}
